<div class="m-5">
    <table>
        <thead>
            <th>ROL ID</th>
            <th>NOMBRE USUARIO</th>
            <th>CORREO</th>
            <th>CLAVE</th>
        </thead>
    </table>
    {{#each users}}
        <tbody>
            <tr>
                <td>{{id_rol}}</td>
                <td>{{nombre_usuario}}</td>
                <td>{{email}}</td>
                <td>{{clave}}</td>
            </tr>
        </tbody>
    {{/each}}
</div>